.header {
    display  : flex;
    max-width: 1500px;
    margin   : 0 auto;


    &__title {
        display        : flex;
        justify-content: center;
        align-items    : center;
        color          : #5495ff;
        cursor         : pointer;



        &--logo {
            width      : 100%;
            font-size  : 30px;
            font-weight: 600;
            text-align : left;
        }

        &--bar {
            font-size      : 35px;
            // display     : flex;
            // justify-self: center;
            // align-items : center;

            .icon {}



        }
    }

    &__search {
        display: flex;

        input {
            width        : 100%;
            padding      : 5px 10px;
            border-radius: 10px;
            margin       : 10px;
        }
    }

    &__feature {
        display        : flex;
        justify-content: space-between;

        &--cart {
            display: flex;

            padding: 10px;
            cursor : pointer;

            .icon-cart1 {
                font-size: 30px;
                color    : #5495ff;
            }

            &:hover {
                background-color: rgba(84, 149, 255, 0.3);
                border-radius   : 10px;
            }
        }

        &--account {
            width : 100%;
            height: 100%;
        }
    }
}